.App-header{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    color: white;
}

.drag-n-drop{
    padding: .5rem;
    border: 1px solid red;
    display: grid;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 300px);
    align-items: start;
}

.dnd-group{
    background-color: #49505e;
    border-radius: 5px;
    padding: .5rem;
}

.group-title{
    margin-bottom: 0.5rem;
}

.dnd-item{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #282c34;
    min-height: 150px;
    border-radius: 5px;
    font-weight: bold;
}

.dnd-item:not(:last-of-type){
    margin-bottom: .5rem;
}

.dnd-item * {
    margin: 0;
}